# Postgres connection. Defaults to postgres:5432 if not set
# Note: POSTGRES_SERVER must be "postgres" if using the docker-compose files
# in this repo to run all applications!
# POSTGRES_SERVER=postgres
# POSTGRES_PORT=5432

# Postgres credentials. POSTGRES_DB defaults to "nuvie", POSTGRES_USER to
# "postgres" and POSTGRES_PASSWORD to "" if not set
POSTGRES_DB=nuvie
POSTGRES_USER=vini-nuvie
POSTGRES_PASSWORD=strong_password_here_please

# FastAPI Project name. Defaults to "Nuvie Ingestor" if not set
# PROJECT_NAME="Nuvie Ingestor"

# Host and port to run the server. Defaults to 0.0.0.0:8000 if not set
# Note: HOST must be "0.0.0.0" if running in a Docker container!
# HOST=0.0.0.0
# PORT=8000

# Amount of Uvicorn workers to spawn. Defaults to the number of threads
# in the system if not set
# WORKERS=1

# Secret key used for generating JWT tokens
SECRET_KEY=strong_secret_key_here_pretty_please

# Credentials for the first superuser in the server. Defaults to the values
# listed here if not set
FIRST_SUPERUSER_EMAIL="vinicius7427@gmail.com"
FIRST_SUPERUSER_PASSWORD="12345678"
FIRST_SUPERUSER_FULL_NAME="Vinícius H. A. Praxedes"
